/*按鈕*/
.button{
 display: inline-block;
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration:none;
 font: 16px/100% Arial, Helvetica, "微軟正黑體", sans-serif;
 border-radius:3px;
}

.button:hover{
 text-decoration: none;
}

.button:active{
 position:relative;
 top:1px;
}

/*藍色按鈕*/
.blue{
 color:#ffffff;
 border: solid 1px #9BB3BD;
 background: rgb(115,179,190);
}
      
.blue:hover{
 background: rgb(103,173,185);
}

.blue:active{
 color:#ffd0d0;
}

/*按鈕大小*/
.large{
 padding:10px 130px 12px 130px;
 }
    
.normal{
 padding: 8px 30px 10px 30px;
}